<section class="pt-5 pb-5 shadow-sm">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <h3 class="text-uppercase border-bottom mb-4">PAJAROS</h3>
            </div>
        </div>
        <div class="row">
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="imagenes/bajaGris1505906959_5d7948a204_o.gif" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">PAJAROS</h5>
                        <p class="card-text mb-4">by roser.gibert</p>
                        <a href="https://search.creativecommons.org/photos/750056cf-8239-4373-befd-d6db534c8d67" class="btn btn-primary mt-auto align-self-start">Visualizar</a>
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="imagenes/bajaGris2287127696_7e1a2fc7b2_o.gif" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">LOS PAJAROS</h5>
                        <p class="card-text mb-4">by Vicente de Miguel</p>
                        <a href="https://search.creativecommons.org/photos/a4dc58d5-71e5-4cea-a7b9-496f38f3c676" class="btn btn-primary mt-auto align-self-start">Visualizar</a>
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                    <img src="imagenes/bajaGris3635219874_b1fe8b2889_o.gif" class="card-img-top" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">PAJAROS 2</h5>
                        <p class="card-text mb-4">by Kazyel</p>
                        <a href="https://search.creativecommons.org/photos/a2994477-8b4c-425f-b2f2-c9c8ca05e1a2" class="btn btn-primary mt-auto align-self-start">Visualizar</a>
                    </div>
                    <div class="card">
                        <img src="imagenes/bajaGris11351051805_06d7932917_o.gif" class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Un Arbol... Un Pajaro... Piense en La Simplicidad!!!</h5>
                            <p class="card-text mb-4">by Manuel Acebedo: El Viajero de La Janda Litoral</p>
                            <a href="https://search.creativecommons.org/photos/9d634503-e239-4bbd-9f61-442d91a2a955" class="btn btn-primary mt-auto align-self-start">Visualizar</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>